@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 222.2 84% 4.9%;

        --muted: 210 40% 96.1%;
        --muted-foreground: 215.4 16.3% 46.9%;

        --popover: 0 0% 100%;
        --popover-foreground: 222.2 84% 4.9%;

        --card: 0 0% 100%;
        --card-foreground: 222.2 84% 4.9%;

        --border: 214.3 31.8% 91.4%;
        --input: 214.3 31.8% 91.4%;

        --primary: 222.2 47.4% 11.2%;
        --primary-foreground: 210 40% 98%;

        --secondary: 210 40% 96.1%;
        --secondary-foreground: 222.2 47.4% 11.2%;

        --accent: 210 40% 96.1%;
        --accent-foreground: 222.2 47.4% 11.2%;

        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 210 40% 98%;

        --ring: 222.2 84% 4.9%;

        --radius: 0.5rem;
    }

    .dark {
        --background: 240 5% 6%;
        --foreground: 240 5% 96%;

        --muted: 240 4% 16%;
        --muted-foreground: 240 5% 65%;

        --popover: 240 5% 9%;
        --popover-foreground: 240 5% 96%;

        --card: 240 5% 9%;
        --card-foreground: 240 5% 96%;

        --border: 240 4% 18%;
        --input: 240 4% 18%;

        --primary: 240 5% 96%;
        --primary-foreground: 240 6% 10%;

        --secondary: 240 4% 16%;
        --secondary-foreground: 240 5% 96%;

        --accent: 240 4% 16%;
        --accent-foreground: 240 5% 96%;

        --destructive: 0 63% 31%;
        --destructive-foreground: 240 5% 96%;

        --ring: 240 5% 83%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
    }
}
